/* src/App.css */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8; /* Light gray background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}